.footer {
  background-color: var(--bg-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .fa-github {
  color: var(--txt-primary);
  width: 18px;
  height: 18px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.footer .fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}